<% if session[:user_id].nil? %>
  <h1>Login</h1>
<p><%= button_to("Login", "/auth/github", method: :get) %></p>
<% else %>
  <h1>Logout</h1>
  <p><%= button_to("Logout", sessions_path, method: :delete) %></p>
  <% end %>
