<% if session[:user_id].nil? %>
  <h1>Login:</h1>
<h2><%= button_to("Login", "/auth/github", method: :get) %></h2>
<% else %>
  <h1>Logout:</h1>
  <h2><%= button_to("Logout", sessions_path, method: :delete) %></h2>
  <% end %>
