<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>

<% if session[:user_id].nil? %>
<h1>Welcome! Please log in!</h1><%= button_to("Login", "/auth/github", method: :get) %>
<% else %>
  <h1>Logout</h1>
  <p><%= button_to("Logout", root_path, method: :delete) %></p>
  <% end %>
