<%= form_for @task, method: :delete do |f| %>
  <p>Are you sure you want to delete <%= @task[:name] %>?</p>
  <p>(Pressing Submit will delete that task.)</p>
  <p><%= f.submit "Submit" %></p>
<% end %>
