<h1>Task List</h1>

<h2>Tasks</h2>

<% @tasks.each do |task| %>
    <%=task[:name]%> &nbsp <%= link_to("Details", task_path(task[:id])) %> &nbsp <%= link_to("➖", task_delete_confirmation_path(task[:id])) %>
    <hr>
<% end %>

<h4>Add a task &nbsp<%=link_to("➕", tasks_new_path) %></h4>
